<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加接口名 -->
<mapper namespace="com.example.demo.mapper.BlogMapper">
    <insert id="insert">
        insert into blog values(null,#{title},#{content},#{userid},now())
    </insert>
    <delete id="delete">
        delete from blog where blogid=#{blogid}
    </delete>

    <select id="selectOne" resultType="com.example.demo.model.Blog">
        select * from blog where blogid=#{blogid}
    </select>
    <select id="selectAll" resultType="com.example.demo.model.Blog">
        select * from blog order by posttime desc
    </select>
</mapper>