<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加接口名 -->
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getUserById" resultType="com.example.demo.model.UserInfo">
        select * from userinfo where id=${id}
    </select>

    <insert id="add">
        insert into userinfo(username,password,photo)
        values (#{username},#{password},#{photo})
    </insert>

    <insert id="add2" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into userinfo(username,password,photo)
        values (#{username},#{password},#{photo})
    </insert>

    <!--根据用户ID删除用户-->
    <delete id="delete">
        delete from userinfo where id=#{id}
    </delete>

    <!--根据用户ID修改用户名称-->
    <update id="update">
        update userinfo set username=#{username} where id=#{id}
    </update>
</mapper>