<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加接口名 -->
<mapper namespace="com.example.demo.mapper.ArticleMapper">
    <insert id="add">
        insert into articleinfo(title,content,uid)
        values (#{title},#{content},#{uid})
    </insert>
    <update id="update">
        update articleinfo set title=#{title},content=#{content},updatetime=now()
        where id=#{aid} and uid=#{uid}
    </update>
    <delete id="delete">
        delete from articleinfo where id=#{aid}
    </delete>
    <select id="getMyList" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where uid= #{uid}
    </select>
    <select id="getDetail" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo where id=#{aid}
    </select>
    <select id="getList" resultType="com.example.demo.model.ArticleInfo">
        select * from articleinfo limit #{psize} offset #{offset}
    </select>
    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from articleinfo
    </select>
</mapper>