<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加接口名 -->
<mapper namespace="com.example.demo.mapper.IndexMapper">

    <insert id="saveForwardIndex">
        insert into forward_index values
        <foreach collection="list" item="forward" separator=",">
            (#{forward.docid},#{forward.title},#{forward.url},#{forward.content})
        </foreach>
    </insert>

    <insert id="saveInvertedIndex">
        insert into inverted_index values
        <foreach collection="list" item="inverted" separator=",">
            (#{inverted.id},#{inverted.word},#{inverted.docid},#{inverted.weight})
        </foreach>
    </insert>
    <select id="loadForwardIndex" resultType="com.example.demo.searcher.DocInfo">
        select * from forward_index
    </select>
    <select id="loadInvertedIndex" resultType="com.example.demo.searcher.InvertedInfo">
        select * from inverted_index
    </select>
</mapper>