<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 注入chinese对象-->
    <bean id="中国人" class="com.beans.Chinese">
        <constructor-arg ref="英语"></constructor-arg>
    </bean>
    <bean id="英语" class="com.beans.English"></bean>
</beans>

